	*{
		margin: 0;
		padding: 0;
	}
	.zhuCeTeMian{
		width: 100%;
		height: 800px;
		background-color: #999999;
		padding-top: 150px;
	}
	.zhengTi{
		width: 550px;
		height: 600px;
		/*background-color:aqua;*/
		margin: auto;	
	}
	.logo{
		width: 230px;
		height: 130px;
		/*background-color: yellow;*/
		margin: auto;
	}
	.xinXiKuang{
		width: 550px;
		height: 400px;
		/*background-color: #66CC99;*/
	}
	.hangGao{
		width: 550px;
		height: 50px;
		margin: 15px;
		font-size: 20px;
        font-weight: 300;
        color: #F2F2EB;
        /*line-height: 50px;*/
        /*background-color: aqua;*/
	}
	.yangShi{
		
		width: 300px;
		height: 50px;
		background-color: #CCCCCC;
		margin-left: 30px;
	}
	#idcode{
		width: 60px;
		height: 30px;
		border: 1px solid red;
		/*float: left;*/
		display: inline-block;
		position:absolute;
		line-height: initial;
		margin-left: 50px;
		margin-top: 10px;
	}
	
	.tongYi{
		margin-left: 130px;
		margin-top: 20px;
	}
	.zhuCe{
		width: 310px;
		height: 50px;
		margin-left: 130px;
		margin-top: 20px;
		font-size: 30px;
        font-weight: 600;
        background-color:black;
        color: white;
	}
	input {
		outline:none;
		}
	.xueBiTu{
		width: 300px;
		height: 30px;
		/*background-color: #666666;*/
		margin-left: 130px;
		margin-top: 20px;
		line-height: 30px;
	}
	.AAA{
		float:right;
		color: white;
	}
	.xueBiTu li{
		
		height: 30px;
		/*background-color: red;*/
		background-image: url(img/icon.png);
		list-style: none;
		float: left;
		cursor: pointer;
		background-position-x: -24px;
		background-position-y: 412px;
	}
	.xueBiTu .xueBiTuPian li:hover{
		opacity:0.4;
	}
	.xueBiTu .xueBiTuPian1{
		width: 30px;
		
	}
	.xueBiTu .xueBiTuPian2{
		width: 30px;
		background-position-x: -54px;
	}
	.xueBiTu .xueBiTuPian3{
		width: 30px;
		background-position-x: -84px;
	}
	.xueBiTu .xueBiTuPian4{
		width: 30px;
		background-position-x: -114px;
	}